body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
    margin-top: 200px;
}

button {
    font-size: 28px;
    padding: 20px 40px;
    margin-top: 40px;
}